body {
    font-family: sans-serif, 'Courier New', Courier, monospace;
    margin: 0;
    padding: 20px;
    background-color: black;
    color: whitesmoke;
    margin: 20px;
    max-width: 75%;
}

h1 {
    font-size: 24px;
    margin-bottom: 20px;
}

form {
    margin-bottom: 20px;
    text-align: left;
}

label {
    display: inline-block;
    margin-bottom: 10px;
}

input {
    display: inline-block;
    margin-right: 10px;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #af4c98;
    color: #ffff;
    border: none;
    border-radius: 10px;
    margin: 10px;
}

.choiceResponse {
    margin-top: 20px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
}

.bold {
    font-weight: bold;
}

.em {
    font-style: italic;
}

.uppercase {
    text-transform: uppercase;
}

.hidden {
    display: none;
}
